@font-face {
  font-family: 'MontserratWeb';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/montserrat-semibold.woff2") format('woff2')
}

@font-face {
  font-family: 'MontserratWeb';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/montserrat-bold.woff2") format('woff2')
}

@font-face {
  font-family: 'MontserratWeb';
  font-style: normal;
  font-weight: 800;
  src: url("./assets/montserrat-extrabold.woff2") format('woff2'), url("./assets/montserrat-extrabold.woff") format('woff')
}

* {
  box-sizing: border-box;
}

html, body, #mount {
  margin: 0;
  padding: 0;
  font-family: MontserratWeb, Arial;
  height: 100%;
}

.background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.background-on {
  background: url('./assets/sea.jpg');
}

h1 {
  margin-top: 0;
  font-size: 16px;
  padding: 5px;
  background: #101010;

  a, a:visited {
    color: white;
    text-decoration: none;
  }
}

.lobby-wrapper {
  display: inline-block;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 9px;
  box-shadow: 0 10px 59px -9px rgba(0,0,0,0.7);
  border-radius: 9px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  border-top: 2px solid rgba(255,255,255,0.08);
  color: white;
  width: 300px;
  overflow: hidden;
}

.form, .waiting-list, .notification-message {
  margin: 10px;
}

input[type=text] {
  display: block;
  height: 40px;
  border: 0;
  border-bottom: 2px solid #141414;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.6);
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 14px;
  font-family: MontserratWeb, Arial;
  font-size: 18px;
  color: #d2d2d2;;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;

  &:focus { outline: none }
}

input[type=submit], input[type=button] {
  display: inline-block;
  background-color: #228a12;
  box-shadow: 0 0 10px 0 #000;
  text-transform: uppercase;
  border: 0;
  color: white;
  font-size: 16px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
  border-bottom: 2px solid rgba(0,0,0,0.2);
  padding: 9px 18px 7px 18px;
  border-radius: 4px;
  font-weight: bold;
  font-family: MontserratWeb, Arial;
  width: 100%;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  &:focus { outline: none }
  &:hover {
    background-color: #399c29;
    box-shadow: 0 0 10px 0 #000;
    cursor: pointer;
  }
  &:active {
    border-bottom: none;
    border-top: 2px solid rgba(0,0,0,0.3);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  margin: 0;

  li {
    display: inline-block;
    &:not(:first-child):before { content: ', ' }
  }
}

hr {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}

p {
  line-height: 1.4;
  font-size: 11px;
  color: rgb(146, 146, 146);
  margin: 5px 0;
}

.warning {
  background: #cc1f84;
  padding: 5px;
  border-radius: 5px;
}

a, a:visited {
  color: rgb(79, 128, 219);
  text-decoration: none;
}